

.NavBar{
 
  display: flex;
  min-height: 30px;
  background-color:rgb(0, 0, 0);
  padding: 7px 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}
.NavBar>img{
  border-radius: 20px;
  color: black;
}
.sub-nav{
  width: 400%;
  display: flex;
 
  justify-content: flex-end;
  margin-right: 50px;

  
}
.sub-nav>h3,h4{
 margin-right:40px ;
}
.sub-nav>img{
  margin-right:40px ;
 
  border-radius: 50px;
  margin-top: 8px;
  height: 50px;
  width: 50px;
  
 }
.home-c{
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 20px;
  margin-bottom: 10px;
  margin-right: 210px;
  max-height: 300px;
  margin-top: 60px;
  margin-left: 20px;
  
  /* justify-content: center; */

}
.home-c>img{
  
  height: 220px;
  

}
button{
  width: 100%;
  margin-top: 20px;
  padding: 12px 20px;
  background-color: black;
  color: white;
}
.join-form{
  display: flex;
  flex-direction: column;
  padding: 40px 50px;
  border: 1px solid rgb(255, 252, 252);
  box-shadow:  rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  max-width: 400px;
  width: 40%;
  max-height: 370px;
  
}
.join-form>input{
  padding: 12px 20px;
  border: 1px solid rgb(200, 195, 195);
  border-radius: 5px;
  margin-top: 0px;
  

}
.join-form>button{
  width: 100%;
  border: 0px;
  border-radius: 5px;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.room-form{
  background-color: rgb(255, 255, 255);
  display: flex;
  height: 580px;
  /* position: fixed; */
  width: 93%;
  margin-top: -20px;
  box-shadow: rgba(0, 0, 0, 0.1) 10px -3px 16px -5px;
 
}
.room-members{
  background-color: rgb(99, 176, 243);
  width: 35%;
  height: 100%;
  
  color: white;
}
.chat{
  height: 100%;
  width: 70%;
  background-color:#ffffff;
}
.info{
  display: flex;
  background-color:#ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 10px 8px 16px -5px;
  height: 12%;
  width: 100%;
  /* position: fixed; */
}
.chats{
  height: 76%;
  
  flex-wrap: wrap;
  margin-left: 50px;
  
  width: 100%;
 
  overflow-y:auto;
  scroll-snap-type: y mandatory; 
  scrollbar-width:none; 
}
.mess{
  display: flex;
  background-color:rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 10px -3px 16px -5px;
  height: 12%;
  width: 100%;
}
.join-form2{
 
  display: flex;
}
.cr-form{
  height: 100px;
  width: 500%;
  background-color: black;
}
.create-form{
  display: flex;
  flex-direction: column;
  width: 550px;
  padding: 40px 0px;
  background-color: rgb(244, 244, 244);
  align-items: center;
  


}
.create-form>div>input{
  width: 330px;
  height: 33px;
}
.create-form>input[type="file"]::file-selector-button{
  margin-top: 18px;
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  
  /* transition: background-color 200ms; */
  
}
.create-form>input[type="file"]{
  margin-left: 450px;
  
}
.chat1{
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
}
.in-chat{
  /* min-height: 10px; */
  padding: 5px 15px;
  margin-left: 10px;
  margin-right: 70px;
  margin-bottom: 20px;
  border-radius: 7px;
  min-width: 60px;
  background-color: pink;
}
.nav1{
position: fixed;
width: 93%;
}
.nav2{
  visibility: hidden;
  margin-top: -80px;
}
.login{
  padding: 30px 30px;
  border: 2px solid #fcf0f0;
  border-radius: 25px;
  
}
.login>input{
  /* width: 97%; */
  width: 300px;
  min-height: 30px;
  /* visibility: hidden; */
  border: 1px solid #d6d4d4;
  border-radius: 8px;
}
.login-button{
  width: 305px;
 padding: 10px 0px;
  border-radius: 7px;
  margin-top: 30px;
  /* width: 400px; */
}
p{
  margin: 8px;
}
span
{
  color: red;
}